body {
    font-family: 'Sora', Sans-serif;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Sora', Sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.sub-title {
    font-family: 'Sora', Sans-serif;
    font-weight: 500;
    font-size: 28px;
}


#home {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  font-family: 'Sora', Sans-serif;
  background-image: url('/images/home-background.jpg');
  background-size:900px auto;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  font-family: 'Sora', Sans-serif;
  background-image: url('/images/home-background.jpg');
  background-size: 900px auto;
}

#fact-container {
  margin-top: 20px;
}

.sns-icon {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 70px;
}

.middle {
    vertical-align:middle;
}

.work-container{
    height:300px;
    padding-right: 32px;
}

.company {
     font-family: 'Be Vietnam', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.position {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

img {
    border-radius: 50%;
    width: 150px;
}

.section{
    height: 400px;
}
