body {
    background-color: #FAFAFA;
    font-family: 'Sora', Sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Sora', Sans-serif;
    font-weight: 700;
    font-size: 48px;
}
h2 {
    font-family: 'Sora', Sans-serif;
    font-weight: 1000;
    font-size: 32px;
}
h3 {
    font-family: 'Sora', Sans-serif;
    font-weight: 400;
    font-size: 24px;
}
h4 {
    font-family: 'Sora', Sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  font-family: 'Sora', Sans-serif;
}

#fact-container {
  margin-top: 20px;
}

.sns-icon {
    font-size: 30px;
}

.middle {
    vertical-align:middle;
}

.work-container{
    height:300px;
    padding-right: 32px;
}

.company {
     font-family: 'Be Vietnam', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.position {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 500;
    font-size: 20px;
}


